<a href="https://colab.research.google.com/github/gD26290/Python/blob/main/Chapters/For_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **For Loops**

In [1]:
# is used to iterate through the items in a variable of any data type

In [2]:
integer = [1,2,3,4,5]

In [4]:
for banjo in integer:
  print(banjo)           #here banjo is a temp name given to the variable integer
                          # syntax FOR |<TEMP NAME> IN <THE VARIABLE WE ARE REFERING TO>:
                          #             <THEN THE BODY>

1
2
3
4
5

In [5]:
# previously we asked to print the items in the variable,
# now lets try another way for loop works

In [9]:
for mantis in integer:
  print('happyworld!')

happyworld!
happyworld!
happyworld!
happyworld!
happyworld!

In [10]:
# let's try another way how for loop works

In [11]:
for pimpri in integer:
  print(pimpri + 1)

2
3
4
5
6

In [12]:
# there are so many ways for loop can be used

**for loop in dictionaries**

In [13]:
# as the dictionaries stores in key-value pair, it acts a bit different than the others
# we need to specify what we need out of the dictionary in the first place

In [14]:
about = {'country':'india', 'states':28, 'union_territories':9, 'official_language':['hindi', 'english']}

In [16]:
for info in about.values():
  print(info)                   # here we opt to print only the values in the dict

india
28
9
['hindi', 'english']

In [17]:
for info in about.keys():
  print(info)                   # here we opt to print only the keys in the dict

country
states
union_territories
official_language

In [19]:
# if we want both keys and values, we use 'ITEMS'

for keys, values in about.items():
  print(keys, '-->', values)

country --> india
states --> 28
union_territories --> 9
official_language --> ['hindi', 'english']

**Nested for loop**

In [20]:
# let's create 2 lists for this excercise

states = ['kerala', 'tamil nadu','karnataka', 'telangana']
languages = ['malayalam', 'tamil', 'kannada','telugu']

In [21]:
for first in states:
  for second in languages:
    print(first, 'speaks', second)

kerala speaks malayalam
kerala speaks tamil
kerala speaks kannada
kerala speaks telugu
tamil nadu speaks malayalam
tamil nadu speaks tamil
tamil nadu speaks kannada
tamil nadu speaks telugu
karnataka speaks malayalam
karnataka speaks tamil
karnataka speaks kannada
karnataka speaks telugu
telangana speaks malayalam
telangana speaks tamil
telangana speaks kannada
telangana speaks telugu

**need more practice with for loops...**